body {
    background-color: #e3e7eb;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
}

/* === CONTENT === */
.container {
    background-color: white;
    padding: 50px 300px;
    border-radius: 12px;
    box-shadow: 0 0 20px #00000040;
}

.text {
    text-align: justify;
}

button {
    background-color: #111727;
    color: white;
    padding: 8px 32px;
    border-radius: 32px;
    font-size: medium;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

.download {
    width: fit-content;
    margin-top: 20px;
}

.download a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 400;
}

.download img {
    width: 25px;
    float: right;
    margin-left: 12px;
}

.icon-sosmed {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.icon-sosmed img {
    width: 50px;
    margin-right: 20px;
}

.card {
    background-color: white;
    width: 350px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 0 20px #00000040;
}

.card img {
    width: 100%;
    border-radius: 12px 12px 0 0 ;
}

.card h2 {
    text-align: center;
    margin: 0;
}

.card p {
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    color: gray;
    font-weight: 500;
}